{
  "extends": ["stylelint-config-standard", "stylelint-config-recess-order"],
  "rules": {
    "media-query-no-invalid": null,
    "no-empty-source": null
  },
  "customSyntax": "postcss-styled-syntax"
}
