$text-body: #1a1a1c;
$text-description: #626264;
$text-place-holder: #757578;
$text-on-fill: #ffffff;
$text-link: #0017c1;
$text-hover: #000082;
$text-active: #000082;
$text-visited: #000082;
$text-alert: #ec0000;
$text-disabled: #949497;

$icon-label: #1a1a1c;
$icon-active: #0017c1;
$icon-disabled: #949497;
$icon-alert: #ec0000;

$button-normal: #0017c1;
$button-active: #000082;
$button-hover: #000082;
$button-disabled: #949497;

$background-primary: #ffffff;
$background-secondary: #f1f1f4;
$background-tertiary: #f8f8fb;

$border-field: #1a1a1c;
$border-divider: #d8d8db;
$border-focused: #d18d0f;
$border-selected: #0017c1;
$border-alert: #ec0000;
$border-disabled: #949497;

$status-success: #259d63;
$status-alert: #ec0000;
$status-warning: #c16800;

$chart-primary: #0017c1;
$chart-secondary: #4979f5;
