$shadow-list (
  style-1: (
    (
      x: 0px,
      y: 1px,
      b: 5px,
      s: 0px,
      color: rgba(0, 0, 0, 0.3),
    ),
    (
      x: 0px,
      y: 2px,
      b: 8px,
      s: 1px,
      color: rgba(0, 0, 0, 0.1),
    ),
  ),
)