$shadow-list (
  style-1: (
    (
      x: 0px,
      y: 1px,
      b: 5px,
      s: 0px,
      color: rgba(0, 0, 0, 0.3),
    ),
    (
      x: 0px,
      y: 2px,
      b: 8px,
      s: 1px,
      color: rgba(0, 0, 0, 0.1),
    ),
  ),
  style-2: (
    (
      x: 0px,
      y: 1px,
      b: 6px,
      s: 0px,
      color: rgba(0, 0, 0, 0.3),
    ),
    (
      x: 0px,
      y: 2px,
      b: 12px,
      s: 2px,
      color: rgba(0, 0, 0, 0.1),
    ),
  ),
  style-3: (
    (
      x: 0px,
      y: 1px,
      b: 6px,
      s: 0px,
      color: rgba(0, 0, 0, 0.3),
    ),
    (
      x: 0px,
      y: 4px,
      b: 16px,
      s: 3px,
      color: rgba(0, 0, 0, 0.1),
    ),
  ),
  style-4: (
    (
      x: 0px,
      y: 2px,
      b: 6px,
      s: 0px,
      color: rgba(0, 0, 0, 0.3),
    ),
    (
      x: 0px,
      y: 6px,
      b: 20px,
      s: 4px,
      color: rgba(0, 0, 0, 0.1),
    ),
  ),
  style-5: (
    (
      x: 0px,
      y: 2px,
      b: 10px,
      s: 0px,
      color: rgba(0, 0, 0, 0.3),
    ),
    (
      x: 0px,
      y: 8px,
      b: 24px,
      s: 5px,
      color: rgba(0, 0, 0, 0.1),
    ),
  ),
  style-6: (
    (
      x: 0px,
      y: 3px,
      b: 12px,
      s: 0px,
      color: rgba(0, 0, 0, 0.3),
    ),
    (
      x: 0px,
      y: 10px,
      b: 30px,
      s: 6px,
      color: rgba(0, 0, 0, 0.1),
    ),
  ),
  style-7: (
    (
      x: 0px,
      y: 3px,
      b: 14px,
      s: 0px,
      color: rgba(0, 0, 0, 0.3),
    ),
    (
      x: 0px,
      y: 12px,
      b: 36px,
      s: 7px,
      color: rgba(0, 0, 0, 0.1),
    ),
  ),
  style-8: (
    (
      x: 0px,
      y: 3px,
      b: 16px,
      s: 0px,
      color: rgba(0, 0, 0, 0.3),
    ),
    (
      x: 0px,
      y: 14px,
      b: 40px,
      s: 7px,
      color: rgba(0, 0, 0, 0.1),
    ),
  ),
)